.item-autor {
    width: 70%;
}

/*.card {
    width:800px; 
}

.card-libro {
    
    height:400px;
}

.card-libro img {
    width:200px; 
    height: 300px;
}

.img-libro {
    width:350px; 
    height:500px;
}*/